* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: black;
    color: white;
    
}
header {
display: flex;
justify-content: center;
}
form {
    display: flex;
    justify-content: center;
}
h2 {
    margin-top: 5px;
}
input {
    display: block;
    height: 34px;
    width: 700px;
}
button {
    margin-top: 8px;
    width: 90px;
}
.m-v {
    display: none;
    padding: 9px;
    background-color: rgba(100, 143, 104, 0.527);
}
