body {
    background-color:#272727;
    color: white;
}
* {
    padding: 0px;
    margin: 0px;
}
.container {
    width: 500px;
    margin: 20px auto;
    
}
header {
    display: inline-block;
    justify-content: center;
    background-color: black;
    border-radius: 7px;
    padding: 20px 70px;
}
input {
    padding: 4px;
    border: 1px white;
    border-radius: 4px;
}
button {
    margin-left: 6px;
    padding: 10px 3px;
    border-radius: 5px;
    border: 1px white;
}
.tk {
    display: inline-block;
    justify-content: center;
    background-color: black;
    border-radius: 7px;
    padding: 20px 70px;
    margin-left: 64PX;
    margin-top: 6px;
}
.tk:hover {
    cursor: pointer;
}
li {
    list-style-type: none;
}
